.Name{
    
    color: black;
    display: flexbox;
    border: 2px solid aqua;
    padding-bottom:  20px;
    padding-top:5px ;
line-height: 0px;
font-size: 13px;


}
.Name1:hover{
    color: blue;
    font-size:20px;
}
.Details{
    margin-left: 75%;    
}

.Details:hover{
    color: blue;
}
.ps:hover{
color:orangered;

}
.ex:hover,.Eq:hover,.ps:hover,.jr:hover,.sk:hover,.pj:hover{
    color:orangered;
    }
    
.techSkill {
    
}  
.Skill{
    display : flex;
    margin-left: 0;
    margin-right:4px;
} 
.softSkill{
    margin-left: 70px;

    }
.extra{
    
    margin-right: 470px;
}
/* .Hobb{
    display : flex;
    margin-left: 0;
    margin-right:4px;

    
    
} */
                        
                    
                            
    

